/*
====================================================================================
                            Info Toast
====================================================================================
*/


.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(87, 87, 87, 0.664);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/*
====================================================================================
                            Error Toast
====================================================================================
*/


.errorToast {
  display: flex;

  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgba(87, 87, 87, 0.664);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translate(-25%, 0);
}

.errorToast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.errorToastText {
  flex-grow: 4;
  padding: 1em;
  padding-right: .25em;
  
  align-self: flex-start;
}

.errorToastButton {
  align-self: flex-end;
  padding: 1em;

}

.errorToastButton:hover {
  background-color: #ffffff31;
  cursor: pointer;
}

.errorToast.dismiss {
  -webkit-animation:fadeout 0.5s;
  animation: fadeout 0.5s;
}


/*
====================================================================================
                            Animations
====================================================================================
*/

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}