@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CourierPrime';
  src: local('CourierPrime'),
    url(./CourierPrime-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CourierPrimeBold';
  src: local('CourierPrimeBold'),
    url(./CourierPrime-Bold.ttf) format('truetype');
}

body {
    font-family: "CourierPrime";
}

.glass-bg {
    @apply bg-sky-300 bg-opacity-10 rounded-2xl backdrop-opacity-80 backdrop-blur-2xl;
}